<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/styles.css" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="logo-text">
                <h1>Hello client.</h1>
                <p>Please input your information</p>
            </div>
            <ul>
                <li><a>Главная</a></li>
                <li style="margin-left: 40px">
                    <a href="/createPhone">Сохранить информацию о себе</a>
                </li>
                <li><a>Справочник</a></li>
            </ul>
        </div>
    </div>
</body>
</html>